/*
Dillon Bastan, 2020
*/


/*Main*/

.mainContent {
	pointer-events:none;
   	text-align: center;
   	vertical-align: middle;
   	font-size: 500%;
   	color: #FFFFFF;
}

p {
	padding-bottom: 150px;
}

#content {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

iframe {
	color: #FFFFFF;
	width: 100%;
	height: 100%;
}

.solidColor {
	width: 100%;
	height: 100%;
}


/**/